<% if @article.errors.any? %>
<h2>The following errors prevented the article from being saved</h2>
  <% @article.errors.full_messages.each do |msg| %>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
      <% end %>
<% end %>
<%= form_for @article do |f| %>

<p>

<%= f.label :title %><br/>

<%= f.text_field :title %>

</p>

<p>

<%= f.label :description %><br/>

<%= f.text_area :description %>

</p>

<p>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
  <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>

<% end %>
<%= f.submit %>

</p>

<% end %>
<%= link_to "Back to Articles List", articles_path %>
