<% if @user.errors.any? %>
<h2>The following errors prevented the user from being created.</h2>
  <% @article.errors.full_messages.each do |msg| %>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
      <% end %>
<% end %>
<%= form_for @user do |f| %>

<p>

<%= f.label :username %><br/>

<%= f.text_field :username %>

</p>
<p>

<%= f.label :email %><br/>

<%= f.email_field :email %>

</p>

<p>

<%= f.label :password %><br/>

<%= f.password_field :password %>

</p>

<p>

<%= f.submit "Sign Up"%>

</p>

<% end %>
<%= link_to "Back to Articles List", articles_path %>
